<% @title = "Cookies" %>
<% @bg_img = "cookies" %>

<div class="container content-text">
  <div class="row">
    <div class="col-4">
      <p><img src="<%= @sugar.img %>" alt="image of item <%= @sugar.name %>" class="product-img"/></p>
      <p><span class="bold"><%= @sugar.name %></span></p>
      <p><span class="lighter"><%= @sugar.descr %></span></p>
      <p><%= @sugar.price %></p>
    </div>
    <!-- /.col-4 -->
    <div class="col-4">
      <p><img src="<%= @chocolate.img %>" alt="image of item <%= @chocolate.name %>" class="product-img"/></p>
      <p><span class="bold"><%= @chocolate.name %></span></p>
      <p><span class="lighter"><%= @chocolate.descr %></span></p>
      <p><%= @chocolate.price %></p>
    </div>
    <!-- /.col-4 -->
    <div class="col-4">
      <p><img src="<%= @caramel.img %>" alt="image of item <%= @caramel.name %>" class="product-img"/></p>
      <p><span class="bold"><%= @caramel.name %></span></p>
      <p><span class="lighter"><%= @caramel.descr %></span></p>
      <p><%= @caramel.price %></p>
    </div>
    <!-- /.col-4 -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->